@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//MEDIA QUERY MANAGER
/*
0-600PX:          Phone
600-900PX:        Tablet portrait
900-1200px        Tabler landscape
1200-1800          Desktop
1800-*             Big Desktop
*/

/*  breakpoint argument choices: 
phone
tab-port
tab-land
big-desktop


ORDER: Base + typography > general layout + grid > page layout > components
*/

// 1em = 16px
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.53em) { //600px
            //adds block compmennt css
             @content
        };
    }

    @if $breakpoint == tab-port { //900px
        @media (max-width: 56.25em) { 
            //adds block compmennt css
             @content
        };
    }

    @if $breakpoint == tab-land { //1200px
        @media (max-width: 75em) { 
            //adds block compmennt css
             @content
        };
    }

    @if $breakpoint == big-desktop { //1800px
        @media (min-width: 112.5em) { 
            //adds block compmennt css
             @content
        };
    }
}